@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: npl --default --prefersdark;
}

@plugin "daisyui/theme" {
  name: "npl";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-body-dark: rgb(30, 30, 30);
  --color-base-15: rgb(30, 30, 30 / 15%);
  --color-base-content: rgb(249, 249, 244);
  --color-primary: rgb(211, 54, 130)
  --color-primary-content:rgb(225, 226, 163);
  --color-secondary: rgb(133, 153, 0);
  --color-secondary-content: oklch(19% 0.035 85);
  --color-tviolet: rgb(170, 76, 247);
  --color-bbyblue: rgb(79, 160, 255);
  --color-accent: rgb(254, 150, 217);
  --color-accent-content: oklch(16% 0.03 180);
  --color-neutral: oklch(30% 0.022 255);
  --color-neutral-content: oklch(96% 0.012 90);
  --color-info: oklch(73% 0.14 235);
  --color-success: oklch(72% 0.15 155);
  --color-warning: oklch(82% 0.16 85);
  --color-error: rgb(211, 54, 130);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  /* --font-sans: "Avenir Next", Avenir, "Trebuchet MS", sans-serif; 
    --font-space: Space Grotesk, sans-serif; // 300 - 700
  --font-roboto: Roboto Mono, monospace; // 100 - 700
  --font-urban: Urbanist, sans-serif; // 100 - 900
  --font-dosis: Dosis, sans-serif; // 200 - 800
  */
  --font-display: Georgia, Times New Roman, serif;
  --font-sans: Inter, sans-serif;
  --font-body: Arial, Helvetica, sans-serif;
  --font-serif: PT Serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-code: Courier New, Courier, monospace;
  --font-space: Space Grotesk, sans-serif; 
  --font-roboto: Roboto Mono, monospace; 
  --font-urban: Urbanist, sans-serif; 
  --font-dosis: Dosis, sans-serif; 
}

@layer base {
  html {
    background: var(--color-body-dark);
  }

  body {
    min-height: 100svh;
    font-family: var(--font-body);
    text-color: var(--color-base-15);
    background: var(--color-body-dark);
  }
}
