@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@theme {
  /* --font-sans: "Avenir Next", Avenir, "Trebuchet MS", sans-serif; 
    --font-space: Space Grotesk, sans-serif; // 300 - 700
  --font-roboto: Roboto Mono, monospace; // 100 - 700
  --font-urban: Urbanist, sans-serif; // 100 - 900
  --font-dosis: Dosis, sans-serif; // 200 - 800
  */
  --font-display: Georgia, Times New Roman, serif;
  --font-sans: Inter, sans-serif;
  --font-body: Arial, Helvetica, sans-serif;
  --font-serif: PT Serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-code: Courier New, Courier, monospace;
  --font-space: Space Grotesk, sans-serif; 
  --font-roboto: Roboto Mono, monospace; 
  --font-urban: Urbanist, sans-serif; 
  --font-dosis: Dosis, sans-serif; 
}

@layer base {
  html {
    background: var(--color-base-200);
  }

  body {
    min-height: 100svh;
    font-family: var(--font-body);
    color: var(--color-base-content);
    background: var(--color-base-200);
  }
}
